.workspace {
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 20px 10px;

    .welcome {
      .avatar {
        float: left;
      }
      .msg {
        padding-left: 70px;

        .hello {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 8px;
          color: #4e4e4e;
        }

        .weather {
          color: rgb(102, 102, 102);

          .icon {
            font-size: 20px;
            vertical-align: text-bottom;
            padding-right: 4px;
          }
        }
      }
    }

    .todo {
      display: flex;

      .todo-item {
        padding: 0 20px;
        text-align: right;

        .item-title {
          font-size: 16px;
        }
      }
    }
  }

  .body {
    padding: 14px;

    .title-icon {
      font-size: 16px;
      padding-right: 4px;
      vertical-align: text-bottom;
    }

    .project {
      display: block;

      .footer {
        display: flex;
        margin-top: 16px;
        font-size: 12px;
        padding: 0 6px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;
        justify-content: space-between;

        a {
          color: #666;
          transition: color 0.5s;

          &:hover {
            color: #1890ff;
          }
        }

        span {
          color: #aaa;
        }
      }
    }

    .used-list {
      .used-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80px;
        padding: 10px;
        text-align: center;

        .used-item-icon {
          font-size: 24px;
        }
      }
    }
  }
}
