body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  font-family: -apple-system, BlinkMacSystemFont, 'segoe ui', Roboto, 'helvetica neue', Arial,
    'noto sans', sans-serif, 'apple color emoji', 'segoe ui emoji', 'segoe ui symbol',
    'noto color emoji';
}

html,
body,
#app,
.theme-wrapper,
.left-container {
  height: 100%;
  overflow: hidden;
}

.cper {
  cursor: pointer;
}

.text-help {
  color: #999999;
  font-size: 14px;
}

.va-mb {
  margin-bottom: 20px !important;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.clear {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.normal-link {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.ex-link {
  color: var(--el-color-primary);
}

.view-space {
  padding: 14px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background-color: #e2e2e2;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-button:vertical {
  display: none;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

::-webkit-scrollbar-thumb:vertical:active {
  background-color: rgba(0, 0, 0, 0.38);
}

.page-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--el-border-color);
  padding: 20px 14px;
  background-color: var(--el-bg-color);
  color: var(--el-text-color-regular);

  .left {
    h2 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
}

.page-data {
  margin-bottom: 20px;
}

.page-pagination {
  margin-bottom: 20px;
}

.fade-enter-active {
  transition: all 0.3s ease-out;
}

.fade-leave-active {
  transition: all 0.3s ease-out;
}

.fade-enter-from,
.fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

html.dark {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track {
    background-color: #0f0f0f;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #2d2d2d;
  }

  ::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #3a3a3a;
  }

  ::-webkit-scrollbar-thumb:vertical:active {
    background-color: #3a3a3a;
  }
}

.md-dark {
  --md-bk-color: var(--el-bg-color) !important;
}
