.dark-theme {
  .el-menu {
    --el-menu-text-color: #fff;
    --el-menu-hover-text-color: #fff;
    --el-menu-background-color: #545c64;
    --el-menu-hover-background-color: rgb(67, 74, 80);
    --el-menu-active-color: #ffd04b;
  }
}
