.layout-bar {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 4px rgb(220, 223, 230);

  .layout-bar-left,
  .layout-bar-right {
    position: relative;
    display: flex;

    li {
      height: 50px;
      padding: 0 10px;
      display: inline-flex;
      align-items: center;
    }
  }

  .layout-bar-left {
    @media screen and (max-width: 750px) {
      .breadcrumb-help {
        display: none;
      }
    }
  }

  .layout-bar-right {
    padding-right: 10px;

    li {
      cursor: pointer;
      padding: 0 16px;
      transition: all 0.3s;

      &:hover {
        background-color: rgb(244, 244, 245);
      }
    }
  }
}

.message {
  :global {
    .ant-list-item-meta {
      .ant-list-item-meta-avatar {
        margin-top: 4px;
      }

      .ant-list-item-meta-title {
        font-weight: 400;
      }

      .ant-list-item-meta-description {
        font-size: 12px;
      }
    }
  }
}

.notice {
  width: 300px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 6px 16px -8px rgba(0, 0, 0, 0.08), 0 9px 28px 0 rgba(0, 0, 0, 0.05),
    0 12px 48px 16px rgba(0, 0, 0, 0.03);

  .notice-content {
    padding: 10px;
  }
}

:global(.theme-dark) {
  .layout-bar {
    box-shadow: 0 1px 4px rgb(43, 43, 44);

    .layout-bar-right {
      li {
        &:hover {
          background-color: rgb(29, 29, 29);
        }
      }
    }
  }
}
