.vra-card {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  border-radius: 2px;
  transition: all 0.3s;

  .vra-card-header {
    position: relative;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    padding: 0px 15px;
    border-bottom: 1px solid $borderColor;
    border-radius: 2px 2px 0px 0px;
    display: flex;
    justify-content: space-between;
  }

  .vra-card-body {
    position: relative;
    line-height: 24px;
    padding: 10px 15px;
  }
}

.vra-card-border {
  border: 1px solid $borderColor;
}

.theme-dark {
  .vra-card {
    .vra-card-header {
      border-color: $darkBorderColor;
    }
  }

  .vra-card-border {
    border-color: $darkBorderColor;
  }
}
