ul.skin-dark {
  color: #bfbfbf; // 字体颜色
  background-color: #1d1e23; // 全局背景

  .ant-menu-sub {
    color: #bfbfbf; // 字体颜色
    background-color: #1d1e23; // 全局背景
  }

  .ant-menu-item:hover,
  .ant-menu-item-active,
  .ant-menu-submenu-active,
  .ant-menu-submenu-open,
  .ant-menu-submenu-selected,
  .ant-menu-submenu-title:hover {
    color: #fff;
    background-color: transparent;
  }

  .ant-menu-item-selected {
    background-color: #1890ff;
  }
  .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
  .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
  .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow::before {
    background: #bfbfbf;
  }
}
